@import "/home/blainerieger/.cache/wal/colors-waybar.css";

/* Global */
* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    transition: background-color .3s ease-out;
}

/* Waybar window */
window#waybar {
    background: transparent;
    color: @color5;
    font-family: SpaceMono Nerd Font, feather;
    transition: background-color .5s;
}

/* Module boxes */
.modules-left{
    background: @background;
    padding: 0px 10px 0px 0px;  /* top, right, bottom, left */
    margin: 2.5px 5px;
    border-radius: 15px;
    border: 0.75px solid @color5;  
}
.modules-center {
    background: @background;
    margin: 2.5px 5px;
    padding: 0px 10px 0px 10px;    
    border-radius: 15px;
    border: 0.75px solid @color5;  
}
.modules-right {
    background: @background;
    margin: 2.5px 5px;
    padding: 0 5px;
    border-radius: 15px;
    border: 0.75px solid @color5;  
}

/* Module items */
#clock,
#cpu,
#memory,
#disk,
#temperature,
#fan, 
#spotify,
#weather,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#fan:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,

#mpd {
    padding: 0 10px;
    border-radius: 15px;
    color: @color13;
}

#mpd:hover {
    background: @color0;
    color: @color5;
}

#fan:hover {
    background: @color0;
    color: @color15;
}

/* Workspaces */

#mpd {
    padding: 0 10px;
    border-radius: 15px;
    color: @color13;
}

#workspaces button {
    background: transparent;
    font-family: SpaceMono Nerd Font, feather;
    font-weight: 900;
    font-size: 12pt;
    color: @color6;          /* Accent color */
    border: none;
    border-radius: 15px;
}

#workspaces button.active {
    background: @color0;     /* Background accent */
    color: @foreground;
}

#workspaces button:hover {
    background: @color1;     /* Hover accent */
    color: @foreground;
    box-shadow: none;
}

/* Arch icon */
#custom-arch {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 12px;
    transition: color .5s;
    color: @color13;
}

#custom-spotify {
    margin-left: 5px;
    padding: 0 10px;
    font-size: 12px;
    transition: color .5s;
    color: @color13;
}

#custom-arch:hover {
    color: @color6;
}


